<h1>Clients</h1>
<hr />
<h2>Edit client: @Model.GetName()</h2>
<form action="/client/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="client-id" type="hidden" value="@Model.GetId()">
  <label for="clientName">Client name</label>
  <input id="clientName" name="clientName" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Home</a></h4>
