
<form action="/stylist/new" method="post">
  <label for="stylistName">Stylist's name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Submit</button>
</form>
